body {
  font-family: arial;
  margin: 0px;
}

progress {
  width: 1000px;
  padding: 20px;
}

.aboutme {
  text-align: center;
}

#barra1 {
  border: 1px solid black;
  background-color: black;
  margin: 0px;
  margin-left: 30px;
}

.link1 {
  text-decoration: none;
  color: black;
  margin-top: 30px;
}

.link1:hover {
  padding: 13px;
  background-color: orange;
  border-radius: 4px;
  color: white;
}

.point {
  color: rgb(211, 211, 0);
}

#hjovi {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 3em;
  text-align: center;
}

.pjovi {
  text-align: center;
  font-weight: bold;
  line-height: 10px;
}

#jovimg {
  max-width: 100%;
  position: relative;
  filter: grayscale(100%);
}

#header_text1 {
  position: absolute;
  z-index: 2;
  font-size: 3em;
  font-family: 'Franklin Gothic Medium';
  color: white; 
  grid-area: 1 / 1;
  max-width: 100%;
  place-self: start;
  margin-left: 30px;
}

.textotop {
  grid-area: 3 / 1;
  color: white;
  place-self: start;
  margin-left: 30px;
  width: 100%;
}

#botao2 {
  width: 20px;
  position: absolute;
  bottom: 10px;
  transform: rotate(90deg);
}

.header {
  grid-template-columns: 1fr;
  display: grid;
  position: relative;
  place-items: center;
}

.grid1 {
  display: grid;
  grid-template-columns: minmax(50px, 300px) minmax(5px, 20px) minmax(50px, 300px) minmax(5px, 20px) minmax(50px, 300px);
  gap: 80px;
  justify-content: center;
  align-content: center;
  margin-top: 130px;
}

.linhagrid {
  border: rgba(83, 83, 83, 0.041) solid 1px;
  background-color: rgba(83, 83, 83, 0.041);
}

#xesque {
  display: grid;
  grid-template-columns: 1150px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 200px 1fr 1fr 1fr;
  position: absolute;
  z-index: 3;
  align-self: start;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  margin: 0px;
}

#pontos {
  grid-area: 4 / 2;
  place-self: start;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.719);
}

#logo {
  grid-area: 4 / 2;
  place-self: center start;
}

#barra1 {
  grid-column: 1 / -1;
  grid-area: 2 / 1;
  place-self: start;
  width: 1500px;
  color: black;
}

#logo2 {
  margin-top: 5px;
  place-self: center center;
  grid-area: 4 / 2;
}

#logo3 {
  place-self: center end;
  grid-area: 4 / 2;
  margin-top: 10px;
}

.titulogrid {
  text-align: center;
}

.paragrafogrid {
  text-align: center;
  font-weight: bold;
}

.bonecos {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.shadow {
  box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.068);
  background-color: rgba(0, 0, 0, 0.041);
  width: 1fr;
  height: 10px;
  margin-top: 50px;
}
.quem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 50px;
}

footer {

  height: 100%;
}

#footer {
  width: 500px;
}

.little {
  text-align: start;
  margin-left: 50px;
}

#sobrenos {
  color: black;
  font-weight: bolder;
  grid-column: 1 / -1;
  font-size: 25px;
}

#invisibleletter {
  color: rgb(128, 136, 136);
  font-family: -apple-system;
  text-transform: uppercase;
  grid-column: 1 / -1;
  font-size: 60px;
  margin-bottom: 5px;
}

.linha {
  width: 200px;
}

#whoam {
  justify-items: center;
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 35px;
}

#pensador {
  margin-top: 40px;
  width: 100%;
  grid-area: 3 / 1;
  align-self: top;
  max-width: 100%;
  margin-left: 50px;
  margin-bottom: 100px;
}

#lista {
  margin-top: 0px;
  text-align: start;
  grid-area: 3 / 2;
  grid-column: 2 / 4;
  margin-left: 80px;
  margin-bottom: 200px;
}

.paragrafo {
  font-weight: bold;
  font-family: system-ui;
  margin-bottom: 0px;
}

.porcentagem {
  text-align: end;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-top: 0px;

}

.botao1 {
  text-decoration: none;
  padding: 10px;
  background-color: black;
  color: antiquewhite;
  margin-right: 10px;
  border-radius: 4px;
}